* {
    background-color: #181d31;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navbar-right {
    display: flex;
    background-color: #678983;

}

.contact-us,
.contact {
    text-decoration: none;
    color: #f0e9d2;
    background-color: #678983;
    padding-right: 20px;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
}

.contact-us:hover {
    color: aqua;
}